@import url('https://fonts.googleapis.com/css2?family=Cardo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  /* --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
  --logo-font: 'Cardo', serif;
  --secondary-font: 'Roboto', sans-serif;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.header-font {
  font-family: var(--logo-font);
  font-size: 24px;
  text-transform: uppercase;
}

.secondary-font {
  font-family: var(--secondary-font);
}

.tagline {
  font-size: 14px;
  color: rgb(76, 76, 76);
}

/*Navigation Styling*/

.navlist {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.nav-items {
  padding: 5px;
}

.nav-items:hover {
  color: rgb(130, 130, 130);
  transition: 0.2s;
  cursor: pointer;
}

.scroll-container {
  background-color: #ae4141;
  padding: 10px;
}

.scroll-text {
  /* animation properties */
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  
  -moz-animation: my-animation 25s linear infinite;
  -webkit-animation: my-animation 25s linear infinite;
  animation: my-animation 25s linear infinite;
  font-family: var(--secondary-font);
  color: white;
  
}

/* for Firefox */
@-moz-keyframes my-animation {
  from { -moz-transform: translateX(100%); }
  to { -moz-transform: translateX(-100%); }
}

/* for Chrome */
@-webkit-keyframes my-animation {
  from { -webkit-transform: translateX(100%); }
  to { -webkit-transform: translateX(-100%); }
}

@keyframes my-animation {
  from {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

.scroller {
  flex-wrap: nowrap;
  overflow: hidden;
}

.scroller__inner {
  display: flex;
  gap: 0.5rem;
}

.breaking-news-list {
  list-style: none;
  margin: 0;
  padding-inline: 0;
  flex-wrap: nowrap;
}

.breaking-news-list li {
  font-family: var(--secondary-font);
  color: white;
  width: auto;
}

.medium-card {
  .content {
    .title {
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2; /* number of lines to show */
              line-clamp: 2; 
      -webkit-box-orient: vertical;
    }
  }
}